*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Benne', serif;
    color: black;

    img{
        border-radius: 4px;
    }
}

body{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    min-width: 100vw;
}

header{
    height: 100px;
    background-color: #62a87c;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        height: 100px;
        width: auto;
    }

    nav{
        width: 40%;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;

            li{
                a{
                    text-decoration: none;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #fff;

                    &:hover{
                        color: black;
                    }
                }
            }
        }
    }

    #search{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 15%;
        ion-icon{
            color: #fff;
            font-size: 30px;
        }
        
        input{
            border-radius: 4px;
        }
    }
}  

main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px;

    #principal{
        width: 50%;
        margin-right: 10%;
        
        .swiper-container{
            height: 500px;
            .swiper-slide{
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        article{
            font-size: 20px;
            line-height: 20px;
            margin-top: 10px;
            text-align: justify;
        }
    }

    #menu-Lateral{
        width: 20%;
        border: solid 1px black;
       
    }
}

#logo-Inf{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 150px;
        width: auto; 
    }

    hr{
        width: 100%;
        border: 1px solid;
    }
}

footer{
    h2{
        text-align: center;
    }

    #menu-footer{
        display: flex;
        justify-content: flex-start;
        padding: 20px;
        
        #menu-links{
            width: 60%;

            .link{
                
                ion-icon{
                    font-size: 50px;
                }
               
            }
        } 
    }

    p{
        text-align: center;
        font-size: 10px;
    }
}